@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "~flatpickr/dist/flatpickr.min.css";
html {
  background-color: #007BFF;
}

h1, h2, h3, p, a, label {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.nav {
  background-color: white;
}
.nav ul {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.nav li {
  display: inline;
  padding: 1rem;
}
.nav a {
  text-decoration: none;
  color: black;
}
.nav li:hover {
  background-color: rgb(206, 206, 206);
}

i.fa-bars {
  display: none;
}

#navDiv {
  display: none;
}

.hamburger-div-item {
  background-color: white;
  border-bottom: 1px solid black;
  padding: 1rem;
}
.hamburger-div-item a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1000px) {
  .nav li {
    display: none;
  }
  i.fa-bars {
    display: inline;
    padding: 1rem;
    font-size: 30px;
  }
  #navDiv {
    display: inline;
  }
}
.maindiv {
  background-color: white;
  border: 0.2rem solid #333333;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  overflow: auto;
  min-height: 30rem;
  margin-bottom: 5rem;
}

body {
  margin: 0;
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

.list {
  background-color: white;
}
.list div {
  cursor: pointer;
  margin: 0;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0;
}

#items {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
#items li {
  margin: 0;
  padding: 5px;
  list-style: none;
}

.hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.item {
  padding: 1rem;
  font-size: 24px;
}
.item select {
  width: 33%;
}

.item-wide {
  padding: 1rem;
  grid-column: span 4;
}
.item-wide button {
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #f8c837;
  color: black;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .item {
    grid-column: span 1;
    width: 50%;
  }
  .item input {
    padding: 0;
    margin: 0;
  }
  .item-wide {
    grid-column: span 1;
  }
  .item.special label {
    display: none;
  }
  #title {
    width: 100%;
  }
}
.reportsTable {
  width: 100%;
  border-collapse: collapse;
}

.reportItem {
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reportItem:hover {
  background-color: #e0e0e0;
}

.reportItem td {
  padding: 1em;
  border: 1px solid #ccc;
}

.rowStatus {
  text-align: center;
  vertical-align: middle;
}

.upload-form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 20rem;
  padding: 1rem;
  border: 1px solid #333333;
  border-radius: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.csv-submit-button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.csv-submit-button:hover {
  background-color: #0056b3;
}

.msg {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f9f9f9;
  border: 2px solid black;
}
.msg p {
  text-align: center;
}

.input-label {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.input-field {
  min-height: 3rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.login-submit {
  background-color: #f9f9f9;
  border: 1px solid #333333;
  margin: 0.7rem 0;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.login-submit:hover {
  background-color: rgb(223, 223, 223);
}

.input-credentials {
  width: 100%;
  padding: 1rem;
  margin: 0.7rem 0;
  display: inline-block;
  border-radius: 1rem;
  border: 1px solid #333333;
  box-sizing: border-box;
}

.individual-report-submit {
  background-color: rgb(223, 223, 223);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.individual-report-submit:hover {
  background-color: #f9f9f9;
}

/*# sourceMappingURL=output.css.map */
