<%- include('header.ejs') %>
<div class="maindiv"><form method="post">
    <div class="input-div">
    <label for="messageInput" class="input-label">Input:</label>
    <input type="text" id="messageInput" name="textInput" placeholder="Enter text here" class="input-field">
</div>
    <input type="submit" value="Submit">
</form></div>
<%- include('footer.ejs') %>