<%- include('header.ejs') %>
<div class="maindiv">
    <% if (csvHandleOutput !== undefined) { %>
        <div class="msg"><p><%= csvHandleOutput %></p></div>
    <% } %>
<form method="post" enctype="multipart/form-data" class="upload-form">
    <label for="csvFile" class="file-label">Choose a CSV file:</label>
    <input type="file" name="csvFile" id="csvFile" accept=".csv">
    <input type="submit" value="Upload" class="csv-submit-button">
</form>
</div>
<%- include('footer.ejs') %>